body{
    overflow: hidden;
    background-color: #f8fafd;
    font-family: 'Inter', sans-serif;
    color:#252525;
    padding: 2rem;
}

main{
    max-width: 780px;
    margin: 0 auto;
}

#header{
    text-align: center;
    padding-bottom: 3rem;
}

#header .title{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

#header .subtitle{
    font-size: 1.15rem;
    color: #828282;
}

.box {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(132, 148, 165, .08);
    border-radius: 8px;
    margin-bottom: 3rem;
}

.password {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
}

.password .text{
    flex: 1;
}

.password .text input{
    font-family: "Inconsolata", "serif";
    font-size: 3rem;
    border: none;
    outline: none;
    cursor: default;
    pointer-events: none;
    height: 50px;
    width: 100%;
    transition: all 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.password .text input.password-sm{
    font-size: 2rem;
} 

.password .text input.password-md{
    font-size: 1.5rem;
}

.password .text input.password-lg{
    font-size: 1rem;
}

.password .actions button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
    font-size: 1.5rem;
}

.security-indicator{
    height: 10px;
    background-color: #ddd;
    border-radius:  0 0 8px 8px;
}

.security-indicator .bar{
    height: 10px;
    border-radius:  0 8px 8px 8px;
    transition: all 0.2s;
}

.security-indicator .bar.complete{
    border-top-right-radius: 0;
    background-color: #27ae60
}

.security-indicator .bar.danger{
    background-color: #eb5757;
}

.security-indicator .bar.warning{
    background-color: #f2c94c;
}

.security-indicator .bar.safe{
    background-color: #27ae60;
}

.security-indicator .bar.complete{
    border-top-right-radius: 0;
    background-color: #27ae60
}

.customize{
    padding: 1rem 1.5rem;
}

.customize .title{
    border-bottom: 1px solid #f0f0f0;
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 2rem;
    padding-bottom: 0.75rem;
}

.customize .actions{
    display: flex;
    gap: 3rem;
    color: #828282;
}

.customize .password-lenght{
    flex: 1;
}

.customize .password-lenght .slider{
    appearance: none; 
    -webkit-appearance: none;
    height: 10px;
    background: #ddd;
    outline: none;
    border-radius: 8px;
    width: 100%;
    opacity: 0.7;
    transition: opacity 0.2s;
    margin-top: 1rem;
}

.customize .password-lenght .slider:hover{
    opacity: 1;
}

.customize .password-lenght .slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #9b51e0;
    cursor: pointer;
}

.customize .password-lenght .slider::-moz-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #9b51e0;
    cursor: pointer;
}

.checkbox-container{
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.checkbox-container input{
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    cursor: pointer;
}

.checkbox-container .checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ddd;
    transition: all 0.2s;
}

.checkbox-container:hover input ~ .checkmark{
    background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark{
    background-color: #9b51e0;
}

.checkbox-container .checkmark:after{
    content: "";
    display: none;
    position: absolute;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkbox-container input:checked ~.checkmark:after{
    display: block;
}

.submit{
    text-align: center;
}

.submit button{
    background-color: #bb6bd9;
    font-size: 1.375rem;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 1rem 2rem;
    transition: all .2s;
}

.submit button:hover{
    background-color: #9b51e0;
}

footer{
    width: 100%;
    text-align: center;
    background-color: #fff;
    color:#848484;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 1rem;
}

footer span{
    font-weight: bold;
}

footer #icons ul {
    display: inline-block;
    height: 40px;
    /* border: 1px solid red; */
    /* background-color: #f2c94c; */
}

footer #icons ul li{
    text-decoration: none;
    padding:0 1rem 0 1rem;/* problema tava aqui no teu paddind top */
    height: 100%;
    /* background-color: purple; */
}

footer #icons i{
    font-size: 1.5rem;
    line-height: 40px;
    height: 100%;
    /* background-color: gold; */
    color: #bb6bd9;
}

footer #icons i:hover{
    /* font-size: 1.75rem;*/
    color: #9b51e0;
    transition: all .25s; 
    transform: scale(1.20);
}

#icons a{
    line-height: 40px;
}

/*pop-up*/
.container-pop-up{
    display:none;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom:50px;
    z-index: 1;
    margin-bottom: 7rem;
    /* justify-items: center; nao é assim q centraliza
    align-items: center; */
}

#pop-up{
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    animation: fadeInAnimation ease-in-out 1s forwards;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),
    0px 6px 10px 0px rgba(0,0,0,0.14),
    0px 1px 18px 0px rgba(0,0,0,0.12);
    border-radius: 6px;
    width: 120px;
    height: 40px;
    background-color: green;
    position: absolute;
    text-align: center;
    /* margin-top: 3rem; */
    /* animation: fadeInAnimation ease-in-out 0.s forwards; */
}

#pop-up p{
    padding-top: 9px;
    color: #F2ECFF;
}

#pop-up p i{
    padding-left: 5px;
}

/* .none{
    display: none;
} */

.hide {
    display: flex;
    /* visibility: hidden; */
    animation: fadeOutAnimation ease-in-out 2s forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        /* min-height: 30px; */
        /* visibility: hidden; */
        
    }
    100% {
        opacity: 1;
        /* min-height: 40px; */
        /* visibility: visible; */
        
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
        /* min-height: 30px; fazendo o deslocamento */
        /* visibility: visible; */
    }
    100% {
        opacity: 0;
        /* min-height: 40px; */
        /* visibility: hidden; */
    }
}